In [1]:
import os
os.chdir("/Users/zhongpengbo/OneDrive/文档")
import pandas as pd
import numpy as np
import xlwings

## 列车运行的流量表（2017年原预测OD表）

In [2]:
Q = (pd.read_excel('/Users/zhongpengbo/OneDrive/文档/李涵论文/列车运行数据.xlsx',sheet_name=0))

In [3]:
Q

,大连站,香炉礁,金家街,泉水,后盐,大连湾,金马路,开发区,保税区,双D港,小窑湾,金石滩,通世泰,鸿玮澜山,东山路,和平路,十九局,九里
大连站,0,1853,6606,6086,3649,2654,3180,6358,2237,448,825,2317,341,586,845,1364,185,529
香炉礁,0,0,921,1650,1466,1194,1491,2495,986,168,243,477,169,211,318,461,76,164
金家街,0,0,0,794,505,1039,1204,2108,989,194,279,470,109,203,259,424,76,188
泉水,0,0,0,0,132,389,727,933,491,81,215,320,67,98,129,177,37,76
后盐,0,0,0,0,0,692,685,1231,461,86,178,276,67,75,123,140,38,99
大连湾,0,0,0,0,0,0,1004,934,406,51,59,153,72,47,47,43,17,37
金马路,0,0,0,0,0,0,0,355,391,110,209,320,42,35,76,58,30,53
开发区,0,0,0,0,0,0,0,0,347,438,823,1283,482,848,1237,1980,341,788
保税区,0,0,0,0,0,0,0,0,0,46,215,354,90,146,439,426,78,116
双D港,0,0,0,0,0,0,0,0,0,0,72,143,28,34,78,78,10,21
小窑湾,0,0,0,0,0,0,0,0,0,0,0,28,4,15,25,28,1,3
金石滩,0,0,0,0,0,0,0,0,0,0,0,0,82,113,198,372,37,62
通世泰,0,0,0,0,0,0,0,0,0,0,0,0,0,73,505,332,125,128
鸿玮澜山,0,0,0,0,0,0,0,0,0,0,0,0,0,0,32,400,94,113
东山路,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,202,212,151
和平路,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,213,783
十九局,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,70
九里,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

### 列车每个区间间隔距离与运行时间

In [4]:
pd.read_excel('/Users/zhongpengbo/OneDrive/文档/李涵论文/列车运行数据.xlsx',sheet_name=1)

    区间编号  列车始发  列车终点  区间长度（m）  运行时分（s）
0      1   大连站   香炉礁     2494      170
1      2   香炉礁   金家街     4400      300
2      3   金家街    泉水     4269      290
3      4    泉水    后盐     3390      229
4      5    后盐   大连湾     6563      452
5      6   大连湾   金马路     3576      243
6      7   金马路   开发区     2811      192
7      8   开发区   保税区     2614      178
8      9   保税区   双D港     6080      414
9     10   双D港   小窑湾     2250      152
10    11   小窑湾   金石滩    10210      696
11    12   金石滩   通世泰     2406      164
12    13   通世泰  鸿玮澜山     2062      141
13    14  鸿玮澜山   东山路     1811      122
14    15   东山路   和平路     2128      145
15    16   和平路   十九局     2665      182
16    17   十九局    九里     2423      164

### 列车上下车流量数据

In [206]:
Train_Values_of_Float = pd.read_excel('/Users/zhongpengbo/OneDrive/文档/李涵论文/列车运行数据.xlsx',sheet_name=2,index_col=0)
Train_Values_of_Float

       车站名    上客量   断面客流    下客量
区间编号
1      大连站  41203  41203      0
2      香炉礁  12925  52275   1853
3      金家街   9504  54252   7527
4       泉水   4238  49960   8530
5      后盐    4532  48740   5752
6      大连湾   2965  45737   5968
7      金马路   1862  39308   8291
8      开发区  10310  35204  14414
9      保税区   2236  31132   6308
10     双D港    529  30039   1622
11     小窑湾    111  27032   3118
12     金石滩    988  21879   6141
13     通世泰   1536  21862   1553
14    鸿玮澜山   1063  20441   2484
15     东山路   1257  17387   4311
16     和平路   3649  14551   6485
17     十九局    297  13281   1570
18      九里      0      0  13278

#### K站上车的客流量

In [13]:
pd.read_excel('/Users/zhongpengbo/OneDrive/文档/李涵论文/列车运行数据.xlsx',sheet_name=4,index_col=0)

         ak
大连站   34236
香炉礁   10616
金家街    6909
泉水     2765
后盐     3150
大连湾    2201
金马路     649
开发区    5676
保税区     615
双D港     215
小窑湾      28
金石滩       0
通世泰    1163
鸿玮澜山    639
东山路     565
和平路     996
十九局      70
九里        0

In [83]:
Decisoin_Variable_i_j = np.random.randint(0,2,size=(18,18))

In [71]:
Weight_Wait_table = pd.DataFrame([[0,1,32,10,25,35,9,3125.3,187.4],
              [0.1,1,32,10,5,35,10,2507.2,150.4],
              [0.2,1,32,10,5,35,10,2507.2,150.4],
              [0.3,1,32,10,5,35,10,2507.2,150.4],
              [0.4,1,32,10,5,35,10,2507.2,150.4],
              [0.5,1,32,10,5,35,10,2507.2,150.4],
              [0.6,1,32,10,5,35,10,2507.2,150.4],
              [0.7,1,32,10,5,35,10,2507.2,150.4],
              [0.8,1,32,10,5,35,10,2507.2,150.4],
              [0.9,1,32,8,5,35,8,1680.6,100.8],
              [1,1,32,8,5,35,8,1680.6,100.8]
             ],columns=['权重','主线折返Start','主线折返End','f1','支线折返Start','支线折返End','f2','候车时间(小时)','平均候车时间(秒)'])

In [72]:
Weight_Run_distance = pd.DataFrame([[0,2263,26416.4],
                [0.1,2146,25597.2],
                [0.2,2146,25597.2],
                [0.3,2146,25597.2],
                [0.4,2146,25597.2],
                [0.5,2146,25597.2],
                [0.6,2146,25597.2],
                [0.7,2146,25597.2],
                [0.8,2146,25597.2],
                [0.9,2838,24696.1],
                [1,2838,24696.1]
             ],columns=['权重','列车行走距离','乘客出行时间(小时)'])

### 为0-1决策变量，是否承担客流Qij时取值为1，否则为0.

In [15]:
R1 = np.array([[0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0],
 [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
])

In [16]:
R1

array([[0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [17]:
R2 = np.array(
[[0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1],
 [0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1],
 [0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1],
 [0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1],
 [0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1],
 [0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1],
 [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
])

In [18]:
R2_1 = np.array(
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
])

### 4-1 Z1城市轨道交通乘客出行时间
#### 乘客候车时间CW,乘客在车时间CV，乘客换乘时间CT

In [215]:
ST = sum(ST_K_1)

CV = CVR + ST

In [220]:
Z1= np.sum(CW) + CV + CT

In [221]:
Z1

1365687236.0

### 4-2 CW乘客候车时间

In [19]:

depart_fre=5 # 发车频率
CW = (np.array(Q)*3600)/2*((R1*depart_fre)+(R2*depart_fre))

In [20]:
# 第一种情况
np.sum(CW)

1252431000.0

In [22]:
CW_2 = (np.array(Q)*3600)/2*((R1*depart_fre)+(R2_1*depart_fre))

In [23]:
# 第二种情况
np.sum(CW_2)

664389000.0

### 4-3 CV 乘客在车时间

In [ ]:
CV = CVR + ST

### 4-4 CVR 乘客在车时间由途中纯运行时间

In [31]:
Tij = pd.read_excel('/Users/zhongpengbo/OneDrive/文档/李涵论文/列车运行数据.xlsx',sheet_name=3,index_col=0)

In [32]:
Tij

,大连站,香炉礁,金家街,泉水,后盐,大连湾,金马路,开发区,保税区,双D港,小窑湾,金石滩,通世泰,鸿玮澜山,东山路,和平路,十九局,九里
大连站,0.0,170.0,470.0,760.0,989.0,1441.0,1684.0,1876.0,2054.0,2468.0,2620.0,3316.0,2040.0,2181.0,2303.0,2448.0,2630.0,2794
香炉礁,NaN,0.0,300.0,590.0,819.0,1271.0,1514.0,1706.0,1884.0,2298.0,2450.0,3146.0,1870.0,2011.0,2133.0,2278.0,2460.0,2624
金家街,NaN,NaN,0.0,290.0,519.0,971.0,1214.0,1406.0,1584.0,1998.0,2150.0,2846.0,1570.0,1711.0,1833.0,1978.0,2160.0,2324
泉水,NaN,NaN,NaN,0.0,229.0,681.0,924.0,1116.0,1294.0,1708.0,1860.0,2556.0,1280.0,1421.0,1543.0,1688.0,1870.0,2034
后盐,NaN,NaN,NaN,NaN,0.0,452.0,695.0,887.0,1065.0,1479.0,1631.0,2327.0,1051.0,1192.0,1314.0,1459.0,1641.0,1805
大连湾,NaN,NaN,NaN,NaN,NaN,0.0,243.0,435.0,613.0,1027.0,1179.0,1875.0,599.0,740.0,862.0,1007.0,1189.0,1353
金马路,NaN,NaN,NaN,NaN,NaN,NaN,0.0,192.0,370.0,784.0,936.0,1632.0,356.0,497.0,619.0,764.0,946.0,1110
开发区,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,178.0,592.0,744.0,1440.0,164.0,305.0,427.0,572.0,754.0,918
保税区,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,414.0,566.0,1262.0,342.0,483.0,605.0,750.0,932.0,1096
双D港,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,152.0,848.0,756.0,897.0,1019.0,1164.0,1346.0,1510
小窑湾,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,696.0,908.0,1049.0,1171.0,1316.0,1498.0,1662
金石滩,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1604.0,1745.0,1867.0,2012.0,2194.0,2358
通世泰,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,141.0,263.0,408.0,590.0,754
鸿玮澜山,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,122.0,267.0,449.0,613
东山路,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,145.0,327.0,491
和平路,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,182.0,346
十九局,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,164
九里,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [33]:
Tij = Tij.fillna(0)

In [34]:
Tij= np.array(Tij)

In [35]:
CVR = np.sum(np.array(Q)*Tij)

In [36]:
CVR

110184458.0

### 4-5 ST 列车在车站停留时间
#### ST_K 为研究时段Ｔ内乘客在车站的途中等待时间 ，

In [120]:
np.sum(ST_K)

293119320.25625

In [121]:
np.sum(ST_K_2)

150614116.19906253

In [123]:
np.sum(ST_K_3)

13100078.96

### 4-6 ST_K
#### ST_0列车在车站开关门时间

In [118]:
ST_K_1 = (BETA_1 *(np.array(Train_Values_of_Float)[:,2:3])) * ST_H_K_ave_1
 = np.sum(ST_K)

/Users/zhongpengbo/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in multiply
  """Entry point for launching an IPython kernel.

In [117]:
ST_K_2 = (BETA_2 *(np.array(Train_Values_of_Float)[:,2:3])) * ST_H_K_ave_2
ST_K_2 = np.sum(ST_K_2)

/Users/zhongpengbo/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in multiply
  """Entry point for launching an IPython kernel.

In [116]:
ST_K_3 = (BETA_2_1 *(np.array(Train_Values_of_Float)[:,2:3])) * ST_H_K_ave_3
ST_K_3 = np.sum(ST_K_3)

/Users/zhongpengbo/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in multiply
  """Entry point for launching an IPython kernel.

In [45]:
BETA_1 = np.array([[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [46]:
BETA_2 = np.array(
    [  [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]])

In [47]:
BETA_2_1 = np.array(
    [  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]])

### 4-7 ST_H_K_ave 
#### 交路h的每列列车在车站S_K的停站时间,单位:ｓ

##### 乘客人均上车时间
D = 1.53

In [175]:
D = 1.53
V = 4 # 列车编组量数
N_V = 4 # 列车每节车厢门数

F_H_1 = depart_fre # 列车1交路发车频率
F_H_2 = depart_fre # 列车2交路发车频率
ST_0 = 17 #开门时间

In [176]:
# 交路1的每列列车在车站K的停站时间——1
ST_H_K_ave_1 = pd.DataFrame((ak*D)/ (V * N_V * BETA_1 * F_H_1) +ST_0 )
ST_H_K_ave_1

/Users/zhongpengbo/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in true_divide

/Users/zhongpengbo/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in true_divide

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,671.763500,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
1,inf,220.031000,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2,inf,inf,149.134625,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
3,inf,inf,inf,69.880625,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
4,inf,inf,inf,inf,77.243750,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
5,inf,inf,inf,inf,inf,59.094125,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
6,inf,inf,inf,inf,inf,inf,29.412125,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
7,inf,inf,inf,inf,inf,inf,inf,125.553500,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
8,inf,inf,inf,inf,inf,inf,inf,inf,28.761875,inf,inf,inf,inf,inf,inf,inf,inf,inf
9,inf,inf,inf,inf,inf,inf,inf,inf,inf,21.111875,inf,inf,inf,inf,inf,inf,inf,inf
10,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,17.535500,inf,inf,inf,inf,inf,inf,inf
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
13,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
14,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
15,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
16,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
# 交路1的每列列车在车站K的停站时间——2
ST_H_K_ave_2 = pd.DataFrame((ak*D)/ (V * N_V*BETA_2 * F_H_2) + ST_0)
ST_H_K_ave_2

/Users/zhongpengbo/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in true_divide

/Users/zhongpengbo/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in true_divide

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,1653.908750,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
1,inf,524.577500,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2,inf,inf,347.336563,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
3,inf,inf,inf,149.201562,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
4,inf,inf,inf,inf,167.609375,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
5,inf,inf,inf,inf,inf,122.235313,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
6,inf,inf,inf,inf,inf,inf,48.030313,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
7,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,288.383750,inf,inf,inf,inf,inf
8,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
9,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
10,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
13,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,47.552188,inf,inf,inf,inf
14,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,44.014063,inf,inf,inf
15,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,64.621250,inf,inf
16,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,20.346875,inf
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.000000

In [64]:
# 交路1的每列列车在车站K的停站时间——3
ST_H_K_ave_3 = pd.DataFrame((ak*D)/ (V * N_V* BETA_2_1 * F_H_2) + ST_0)
ST_H_K_ave_3

/Users/zhongpengbo/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in true_divide

/Users/zhongpengbo/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in true_divide

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
1,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
3,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
4,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
5,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
6,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
7,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,288.383750,inf,inf,inf,inf,inf
8,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
9,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
10,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
13,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,47.552188,inf,inf,inf,inf
14,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,44.014063,inf,inf,inf
15,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,64.621250,inf,inf
16,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,20.346875,inf
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.000000

### 4-8  ST_H_K_ave  的范围
#### ST最小的值<ST_H_K_ave< ST最大值

# 4-9 Ak 在K站上车的下行方向客流量

In [126]:
ak = pd.read_excel('/Users/zhongpengbo/OneDrive/文档/李涵论文/列车运行数据.xlsx',sheet_name=4,index_col=0)

In [127]:
ak = np.array(ak)

##  二、乘客换乘时间

####

In [ ]:
CT = CT_i_j +Q_i_j

### 4-11 乘客换乘时间

CT_ij 
两种情况：
    1. i和j均在车站1到12内 ，CT_ij 为0
    2. 当i在区段1-8内，j在区段13-18内，CT_i_j = (3600/(2*F2)) + T0   # T0 = 15

In [141]:
# CT_i_j = (3600/(2*F2)) + T0   # T0 = 15

In [154]:
T0 = 15

In [157]:
Time = (3600/(2*depart_fre)) + T0

In [158]:
Time

375.0

In [159]:
CT_I_J= pd.read_excel('/Users/zhongpengbo/OneDrive/文档/李涵论文/列车运行数据.xlsx',sheet_name=5,index_col=0)

In [161]:
CT_I_J = CT_I_J.replace('A',Time)

In [166]:
CT = np.sum(np.array(CT_I_J) *np.array(Q))
CT

3071625.0

### 4-12 企业运行效益分析

Z2 = sum(F_H * L_H)

In [170]:
L_1 = 48657
L_2 = 43612
L_3 = 13495

In [168]:
depart_fre

5

In [178]:
Z_2_1 = depart_fre*L_1 + depart_fre*L_2

In [177]:
Z_2_2 = depart_fre*L_1 + depart_fre*L_3

### 4-13 约束条件

In [179]:
C_Z = 800 # 列车固定人员数

In [207]:
((np.array(Train_Values_of_Float)[:,2:3] * BETA_1)/(F_H_1 *C_Z))
+(np.array(Train_Values_of_Float)[:,2:3] *BETA_2/(F_H_2 *C_Z))

array([[10.30075, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 13.06875, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 13.563, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 12.49, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 12.185, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 11.43425, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 9.827, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        8.801, 0.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        5.11025, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 4.34675, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 3.63775, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 3.32025, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0]], dtype=object)

In [208]:
((np.array(Train_Values_of_Float)[:,2:3] * BETA_2)/(F_H_1 *C_Z))
+(np.array(Train_Values_of_Float)[:,2:3] * BETA_2_1/(F_H_2 *C_Z))

array([[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        8.801, 0.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        5.11025, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 4.34675, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 3.63775, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 3.32025, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0]], dtype=object)

### 发车频率约束条件

In [210]:
# 当为直通车时，F_n 为 F_n < T/150
3600/150

24.0

### 当独立运行的时候
##### F_1<24 
##### F_2<24

In [211]:
3600/150

24.0

In [225]:
Z1+Z_2_1

1366148581.0